<ion-header class="ion-no-border backHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Registration</ion-title>

    <ion-buttons slot="primary" [hidden]="FNAME==''">
      <ion-button (click)="onPrevious()">Start Over</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border mainHeader">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>

  <!-- Collect Personal information -->
  <ion-item detail="false" lines="none" *ngIf="forms?.personalInformation">
    <ion-label class="formInfoCTA">
      <h1 class="reg_h1">Hi!</h1>
      <h2 class="reg_h2">Let's get to know you better. </h2>
    </ion-label>
  </ion-item>

  <form #personalInformation="ngForm" (ngSubmit)="onSubmit(personalInformation,'personalInformation')"
    *ngIf="forms.personalInformation">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <ion-list>
            <!-- fName -->
            <ion-item>
              <ion-label position="stacked">
                FIRST NAME
              </ion-label>
              <ion-input type="text" ngModel name="FNAME" #fname="ngModel" required autocomplete="on"></ion-input>
            </ion-item>
            <!-- lName -->
            <ion-item>
              <ion-label position="stacked">LAST NAME</ion-label>
              <ion-input type="text" ngModel name="LNAME" #lname="ngModel" required></ion-input>
            </ion-item>
            <!-- phone -->
            <ion-item>
              <ion-label position="stacked">PHONE NUMBER</ion-label>
              <ion-input type="tel" ngModel name="phone" #phone="ngModel"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="12" size-lg="4" [hidden]="!personalInformation.valid">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- Login details -->
  <ion-item detail="false" lines="none" *ngIf="forms?.loginInformation">
    <ion-label class="formInfoCTA">
      <h1 class="reg_h1">Just Chill a likkle!</h1>
      <h2 class="reg_h2">Set your login details.</h2>
    </ion-label>
  </ion-item>

  <form #loginInformation="ngForm" (ngSubmit)="onSubmit(loginInformation,'loginInformation')"
    *ngIf="forms.loginInformation">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <!-- email -->
          <ion-item>
            <ion-label position="stacked">EMAIL</ion-label>
            <ion-input type="email" ngModel name="email" #phone="ngModel" autocomplete='off' required></ion-input>
          </ion-item>
          <ion-list>
            <!-- password-->
            <ion-item>
              <ion-label position="stacked">PASSWORD</ion-label>
              <ion-input type="password" ngModel name="password" #phone="ngModel" required autocomplete='off'>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size-sm="12" size-lg="4" [hidden]="!loginInformation.valid">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- Get persona -->
  <ion-item detail="false" lines="none" *ngIf="forms?.personaInformation">
    <ion-label class="formInfoCTA">
      <h1 class="reg_h1"> Almost there!</h1>
      <h2 class="reg_h2">What category do you belong?</h2>
    </ion-label>
  </ion-item>

  <form #personaInformation="ngForm" (ngSubmit)="onSubmit(personaInformation,'personaInformation')"
    *ngIf="forms.personaInformation">

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="10">
          <div class="personaCategory">
            <ion-card button *ngFor="let category of categoryList" (click)="onCatSelect(category.title)"
              [ngClass]="{'selected': pCategoryIsSelected == category.title}">
              <ion-card-title>{{category.title}}</ion-card-title>
              <ion-card-content>
                <ion-label>
                  {{category.description}}
                </ion-label>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>

        <ion-col size-sm="12" size-lg="2" [hidden]="pCategoryIsSelected ==''">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- Get interest communities -->
  <ion-item detail="false" lines="none" *ngIf="forms?.communityInformation">
    <ion-label class="formInfoCTA">
      <h1 class="reg_h1">You're all set up!</h1>
      <h2 class="reg_h2">What communities interest you more? <br> You may select more than one</h2>
    </ion-label>
  </ion-item>

  <form #communityInformation="ngForm" (ngSubmit)="onSubmit(communityInformation,'communityInformation')"
    *ngIf="forms.communityInformation">

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="10">
          <div class="personaCategory">
            <ion-card button *ngFor="let community of communityList" (click)="onComSelect(community.title)"
              [ngClass]="{'selected': communitySelectedList.includes(community.title) == true}">
              <ion-card-title>{{community.title}}</ion-card-title>
              <!-- <ion-card-content>
                <ion-label>
                  {{community.description}}
                </ion-label>
              </ion-card-content> -->
            </ion-card>
          </div>
        </ion-col>

        <ion-col size-sm="12" size-lg="2" [hidden]="communitySelectedList.length == 0">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <!-- Company details -->
  <ion-item detail="false" lines="none" *ngIf="forms?.precompanyInformation">
    <ion-label class="formInfoCTA">
      <h1 class="reg_h1">Yay, That's it!</h1>
      <h2 class="reg_h2">Finally, Let's understand your passion</h2>
    </ion-label>
  </ion-item>

  <form #precompanyInformation="ngForm" (ngSubmit)="onSubmit(precompanyInformation,'precompanyInformation')"
    *ngIf="forms.precompanyInformation">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <ion-list>
            <!-- company name -->
            <ion-item>
              <ion-label position="stacked">
                COMPANY OR BRAND NAME
              </ion-label>
              <ion-input type="text" ngModel name="cname" #cname="ngModel" required></ion-input>
            </ion-item>
            <!-- vision -->
            <ion-item>
              <ion-label position="stacked">VISION</ion-label>
              <ion-textarea type="text" ngModel name="vision" #vision="ngModel"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="12" size-lg="4" [hidden]="!precompanyInformation.valid">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


  <ion-toolbar class="alternate_Auth">
    <ion-buttons>
      <ion-button routerLink="/login">
        Already have an account? <ion-text>Login</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>