<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://images.pexels.com/photos/2937623/pexels-photo-2937623.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </ion-avatar>
      <ion-label *ngIf="post">
        <h2>{{post.name}}</h2>
        <p>{{post.createdAt | amTimeAgo}}</p>
      </ion-label> <br>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngIf="post">
      <!-- Text placed here-->
      <ion-item *ngIf="post.post">
        <ion-label>
          <p>{{post.post}}</p>
        </ion-label>
      </ion-item>

      <!-- add media to slide -->
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let media of post.mediaList">
          <img [src]="media.url" *ngIf="media.type =='image'">
          <video class="player" (click)="play()" controls="false" *ngIf="media.type =='video'">
            <source [src]="media.url">
          </video>
        </ion-slide>
      </ion-slides>
      <!-- comments and stats -->
      <ion-item class="cta_Start">
        <ion-buttons>
          <ion-button (click)="onLike(post.id)">
            <ion-icon name="heart" *ngIf="likes.likes && likes.userUID.includes(userUID)"></ion-icon>
            <ion-icon name="heart-outline" *ngIf="likes.likes == undefined || likes.userUID.includes(userUID) == false">
            </ion-icon>

            <ion-text *ngIf="likes"> {{likes.likes == 0 ? '' : likes.likes }}</ion-text>
          </ion-button>

          <ion-button>
            <ion-icon name="chatbox-outline"></ion-icon>
            <ion-text>{{comments.length}}</ion-text>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button slot="primary" routerLink="/dc/community/feed/{{post.community}}">
            {{post.community}}<ion-icon name="return-up-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>

    <!--- comments -->
    <ion-item *ngFor="let comment of comments">
      <ion-avatar slot="start">
        <img [src]="comment.photoURL">

      </ion-avatar>
      <ion-label>
        <h2>{{comment.name}}</h2>
        <!-- <p>{{comment.createdAt  | amTimeAgo}}</p> -->
        <h3>{{comment.comment}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-input placeholder="Write a comment" [(ngModel)]="userComment"></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="onComment(post.id)" [disabled]="userComment==''">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-content>