<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{postPhotoURL == '' ? '../../../assets/icon/tempAvatar.png' : postPhotoURL}}">
      </ion-avatar>
      <ion-label *ngIf="post">
        <h2><strong>{{post.name}}</strong></h2>
        <p>{{post.createdAt | amTimeAgo:true | shorttimeage}}</p>
      </ion-label> <br>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngIf="post">
      <!-- Text placed here-->
      <ion-item *ngIf="post.post" lines="none">
        <ion-label>
          <p>{{post.post}}</p>
        </ion-label>
      </ion-item>

      <!-- add media to slide -->
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let media of post.mediaList">
          <img [src]="media.url" *ngIf="media.type =='image'">
          <video class="player" (click)="play()" controls="false" *ngIf="media.type =='video'">
            <source [src]="media.url">
          </video>
        </ion-slide>
      </ion-slides>
      <!-- comments and stats -->
      <ion-item class="cta_Start">
        <ion-buttons>
          <ion-button (click)="onLike(post.id)">
            <ion-icon name="heart" *ngIf="likes && likes.userUID.includes(userUID)"></ion-icon>
            <ion-icon name="heart-outline" *ngIf="likes == undefined || likes.userUID.includes(userUID) == false">
            </ion-icon>

            <ion-text *ngIf="likes"> {{likes.likes == 0 ? '' : likes.likes }}</ion-text>
          </ion-button>

          <ion-button>
            <ion-icon name="chatbox-outline"></ion-icon>
            <ion-text>{{comments.length == 0 ? '' :comments.length}}</ion-text>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button slot="primary" routerLink="/dc/community/feed/{{post.community}}">
            {{post.community}}<ion-icon name="return-up-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>

    <!--- comments -->
    <ion-item *ngFor="let comment of comments">
      <ion-avatar slot="start">
        <img [src]="comment.photoURL == '' ? '../../../assets/icon/tempAvatar.png' : comment.photoURL">
      </ion-avatar>
      <ion-label>
        <h3><strong>{{comment.name}}</strong></h3>
        <!-- <p>{{comment.createdAt  | amTimeAgo}}</p> -->
        <h3>{{comment.comment}}</h3>
        <ion-buttons class="feedItemComment">
          <ion-text>
            {{comment.createdAt | amTimeAgo:true | shorttimeage}}
          </ion-text>
          <ion-button>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onReplyToCommentDetails(comment.name, comment.userUID, comment.commentId)">
            <ion-icon name="chatbox-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- nested comment -->
        <ion-item *ngFor="let nestedComment of comment.nestedComments" lines="none">
          <ion-avatar slot="start">
            <img [src]="nestedComment.photoURL == '' ? '../../../assets/icon/tempAvatar.png' : nestedComment.photoURL">
          </ion-avatar>
          <ion-label>
            <h3><strong>{{nestedComment.name}}</strong></h3>
            <!-- <p>{{comment.createdAt  | amTimeAgo}}</p> -->
            <h3>{{nestedComment.comment}}</h3>
            <ion-buttons class="feedItemComment">
              <ion-text>
                {{nestedComment.createdAt | amTimeAgo:true | shorttimeage}}
              </ion-text>
              <ion-button>
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button>
              <ion-button
                (click)="onReplyToCommentDetails(nestedComment.name, nestedComment.userUID, nestedComment.commentId)">
                <ion-icon name="chatbox-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- reply to -->
    <ion-item *ngIf="commentType =='reply'" lines="none" class="cancelReplyingTo">
      <ion-label position="stacked">Replying to <strong>{{replyToUserName}}</strong></ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="cancelReplyingTo()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngIf="commentType =='reply'" lines="none">
      <ion-input placeholder="Write a reply" [(ngModel)]="userComment"></ion-input>
      <!-- reply to -->
      <ion-buttons slot="end">
        <ion-button (click)="onReplyTo()" [disabled]="userComment==''">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- normal comment -->
    <ion-item *ngIf="commentType =='comment'">
      <ion-input placeholder="Write a comment" [(ngModel)]="userComment"></ion-input>
      <!-- normal comment -->
      <ion-buttons slot="end">
        <ion-button (click)="onComment(post.id)" [disabled]="userComment==''">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>