<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="largeTopicText " slot="start">{{communityName}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="profile_icon" routerLink="/profilesettings">
        <img
          src="https://images.pexels.com/photos/4674175/pexels-photo-4674175.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- tabs -->
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        <ion-label>Talks</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Events</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Media</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

  <ion-slides #slides pager="false" [options]="sliderOptions" (ionSlideDidChange)="slidesChanged(slides)"
    class="sectionSlide" (ionSlidesDidLoad)="slidesChanged(slides)">
    <ion-slide class="innerSlider">

      <ion-list>
        <ion-item-group *ngFor="let post of filteredFeed">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="post.photoURL">
            </ion-avatar>
            <ion-label>
              <h2>{{post.name}}</h2>
              <p>{{post.createdAt | amTimeAgo}}</p>
            </ion-label> <br>
          </ion-item>
          <!-- Text placed here-->
          <ion-item>
            <ion-label>
              <p>{{post.post}}</p>
            </ion-label>
          </ion-item>

          <!-- add media to slide -->
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let media of post.mediaList">
              <img [src]="media.url" *ngIf="media.type =='image'">
              <video class="player" (click)="play()" controls="false" *ngIf="media.type =='video'">
                <source [src]="media.url">
              </video>
            </ion-slide>
          </ion-slides>
          <!-- comments and stats -->
          <ion-item class="cta_Start">
            <ion-buttons>
              <ion-button (click)="onLike(post.id)">
                <ion-icon name="heart" [hidden]="post.likes.userUID.includes(userUID) === false"></ion-icon>
                <ion-icon name="heart-outline" *ngIf="post.likes.userUID.includes(userUID) == false"></ion-icon>
                {{post.likes.likes == 0 ? '' : post.likes.likes }}
              </ion-button>

              <ion-button [routerLink]="['/', 'feeditem',post.community,post.id]">
                <ion-icon name="chatbox-outline"></ion-icon> {{post.comments}}
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-item-group>
      </ion-list>

    </ion-slide>







    <ion-slide class="innerSlider">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Event Title</h2>
            <p>Tue, Jun 16, 2020</p>
            <p>Dubai Marina, First Tower, floor 20</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <!-- create post -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/','community','createpost',communityName]">
      <svg xmlns="http://www.w3.org/2000/svg" width="26.758" height="26.757" viewBox="0 0 26.758 26.757">
        <g id="Icon_feather-edit" data-name="Icon feather-edit" transform="translate(1.5 1.5)">
          <path id="Path_99" data-name="Path 99"
            d="M13.626,6H5.361A2.361,2.361,0,0,0,3,8.361v16.53a2.361,2.361,0,0,0,2.361,2.361h16.53a2.361,2.361,0,0,0,2.361-2.361V16.626"
            transform="translate(-3.001 -3.495)" fill="none" stroke="#fff" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="3" />
          <path id="Path_100" data-name="Path 100"
            d="M24.4,3.552a2.5,2.5,0,0,1,3.542,3.542L16.723,18.31,12,19.491l1.181-4.723Z"
            transform="translate(-4.917 -2.818)" fill="none" stroke="#fff" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="3" />
        </g>
      </svg>

    </ion-fab-button>
  </ion-fab>
</ion-content>