<ion-header class="ion-no-border backHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border mainHeader">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Collect login information -->
  <ion-item detail="false" lines="none">
    <ion-label>
      <h1 class="reg_h1">He who opens a school door, closes a prison.</h1>
    </ion-label>
  </ion-item>

  <form #loginInformation="ngForm" (ngSubmit)="onSubmit(loginInformation)" (ionFocus)="onFocus()" (mouseleave)="onMouseLeave()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <ion-list>
            <!-- EMAIL -->
            <ion-item>
              <ion-label position="stacked">
                EMAIL
              </ion-label>
              <ion-input type="email" ngModel name="email" #fname="ngModel" required></ion-input>
            </ion-item>
            <!-- PASSWORD -->
            <ion-item>
              <ion-label position="stacked">
                PASSWORD
              </ion-label>
              <ion-input type="password" ngModel name="password" #lname="ngModel" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size-sm="12" size-lg="4" [hidden]="!loginInformation.valid">
          <ion-buttons class="nextBtn">
            <ion-button type="submit">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-toolbar class="alternate_Auth">
    <ion-buttons>
      <ion-button routerLink="/auth">
        Are you a new user? <ion-text> Register</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>