ion-header,
ion-content {
    background-color: #ffffff;
}

.personaldescription {
    ion-buttons {
        ion-button {
            text-transform: capitalize;
        }
    }
}

ion-list-header {
    color: #7a90a6;
}

.pref_card {
    ion-avatar {
        height: 24px;
        width: 24px;
        --border-radius: 0;
    }
    img {
        object-fit: contain;
    }
}

.counters {
    ion-buttons {
        height: 100%;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        ion-button {
            height: 40px;
            ion-label {
                * {
                    text-transform: lowercase;
                }
            }

            h3 {
                color: #000000;
            }
        }
    }
}
