ion-header {
    ion-buttons {
        svg {
            height: 24px;
            width: 24px;
        }
    }
    ion-toolbar {
    }
    background: #ffffff;
    .dc_logo_avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 40px;
            width: 40px;
        }
    }

    .profile_icon {
        height: 100%;
        width: 100%;
        img {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
}

ion-content {
    background: #ffffff;

    ion-button,
    ion-text,
    ion-icon {
        color: #000000;
    }
}

.largeTopicText {
    font-size: 39px;
    font-weight: 800;
    padding: 0;
    padding-left: 8px;
    text-align: left;
}

ion-item-group {
    p {
        white-space: normal;
    }
}

.fullWidth_noStart {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0;
    img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
    }

    video {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

.modify_header_onscroll {
    display: contents;
    transition: 0.5s;
}

.vjs_video_3-dimensions,
.vjs_video_1-dimensions {
    width: 100%;
    height: 100%;
}

.cta_Start {
    --padding-start: 0;
}

ion-slide {
    img,
    video {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

ion-slides {
    // background: rgba(221, 221, 221, 0.867);
}

.noPost {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    img {
        height: 100%;
        width: 100%;
        max-width: 640px;
        max-height: 640px;
    }
    span {
        text-align: center;
    }

    ion-text {
        font-weight: 700;
        cursor: pointer;
        color: rgb(219, 53, 52);

        &:hover {
            color: rgb(71, 65, 201);
        }
    }
}
