.mobileMenu {
  --ion-background-color: #ffffff;

  ion-header {
    ion-button {
      color: #000000;
    }
  }

  ion-item {
    ion-text {
      text-align: center;
      width: 100%;
    }

    ion-buttons {
      margin: auto;

      color: #000000;
      border-radius: 24px;
      padding: 6px;
    }
  }

  ion-footer {
    ion-icon {
      color: #000000;
    }

    ion-buttons {
      overflow: auto;
    }
  }
}

.login_btn {
  color: #000000;
}

.menuButtons {
  flex-direction: column;
  ion-button {
    width: 145px;
    background-color: #29928f;
    margin-bottom: 16px;
    border-radius: 24px;
    height: 45px;

    &:last-child {
      background-color: #dddddd;
    }
  }
}

.portalMenu {
  background: #ffffff;
  max-width: 305px;

  ion-button {
    margin-bottom: 0px;
  }
}

.active-link {
  * {
    color: #3880ff;
  }
}

#mobileMenuToggle {
  // --side-min-width: 0;
  // --side-max-width: 100%;
}
