.mainContainer {
    background-color: #ffffff;
}

ion-grid {
    height: 100%;
    ion-row {
        height: 100%;
    }
}

.eventTitle {
    h1 {
        font-weight: 400;
        font-size: 40px;
    }
}

.dateContainer {
    ion-label {
        h1 {
            font-weight: 300;
            font-size: 40px;
        }
    }
}

.normalButton {
    margin: 0;
    padding: 0;
    color: #29928f;
    background-color: #ffffff;
    --ion-background-color: transparent;
    --padding-start: 0px;
    font-weight: bold;
}

.attendeeCounter {
    max-height: 74%;
}