<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="portalMenus"></ion-menu-button>
    </ion-buttons>
    <ion-title>Update {{updateType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #uploadMedia="ngForm" (ngSubmit)="onSubmit(uploadMedia.value)">
    <!-- dynamic forms -->
    <ion-list>
      <!-- title-->
      <ion-item class="ion-padding">
        <ion-label position="stacked">{{updateType}} Title</ion-label>
        <ion-input type="text" ngModel name="title" #title="ngModel" required placeholder="e.g Technology">
        </ion-input>
      </ion-item>
      <!-- description-->
      <ion-item class="ion-padding">
        <ion-label position="stacked">{{updateType}} Description</ion-label>
        <ion-textarea type="text" ngModel name="description" #description="ngModel" required>
        </ion-textarea>
      </ion-item>
      <!-- set route-->
      <ion-item class="ion-padding">
        <ion-label position="stacked">{{updateType}} Route</ion-label>
        <ion-input type="text" ngModel name="route" #route="ngModel" required placeholder="">
        </ion-input>
      </ion-item>
    </ion-list>

    <!-- button -->
    <ion-buttons class="ion-padding">
      <ion-button fill="solid" [disabled]="!uploadMedia.valid" type="submit" color="primary">Upload</ion-button>
    </ion-buttons>
  </form>
</ion-content>