/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* videojs */

@import "~video.js/dist/video-js.css";

* {
    font-family: "Roboto", sans-serif;
}

body {
    --ion-background-color: #000000;
}

* {
    --ion-background-color: transparent;

    text-rendering: optimizeLegibility;
}

.modal-css {
    --background: #fff;
    --ion-background: #fff;
}

.vjs-error-display,
.vjs-big-play-button,
.vjs-control-bar,
.vjs-control-text {
    display: none !important;
}

.vjs-modal-dialog.vjs-hidden.vjs-text-track-settings {
    display: none !important;
}

