.mainContent {
}

.mainHeader {
  * {
    --background: transparent;
  }
}

.dc_logo {
  svg {
    height: 40px;
    width: 40px;
  }
}

.dc_logo_text {
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0px;
  color: #ffffff;
}

ion-header {
  ion-button {
    color: #ffffff;
    text-transform: initial;
    font-weight: 400;
  }

  .middle_menus {
    padding-right: 50%;
  }

  .login_btn {
    font-weight: 500;
    font-weight: bold;
    padding-right: 20px;
  }

  .large_button {
    color: #29928f !important;
    --ion-color: #29928f !important;
    font-weight: 600;
    font-weight: bold;
    height: 50px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 50px;

    ion-text {
      padding: 16px;
    }
  }
}

.large_button {
  color: #29928f !important;
  --ion-color: #29928f !important;
  font-weight: 600;
  font-weight: bold;
  width: auto;
  height: 50px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50px;

  ion-text {
    padding: 16px;
  }
}

.green_bg {
  --ion-background-color: #29928f !important;
  background: #29928f !important;
  color: #000000 !important;
  font-weight: Bold;
}

.dc_bg {
  opacity: 0.29;
  font-weight: 700;
  position: absolute;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #29928f;
  overflow: hidden;
  --overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 50px;
  font-size: 960px;

  span:first-child {
    margin-top: -8%;
  }
  span:last-child {
    margin-top: -3%;
  }
}

.hero_Text {
  font-size: 77px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  max-width: 743px;

  span {
    color: #29928f;
  }
}

.pText {
  font-size: 26px;
  letter-spacing: 0.62px;
  color: #ffffff;
  opacity: 1;
  max-width: 624px;
  line-height: 40px;
  font-weight: 300;
  margin-top: 2%;
}

section {
  z-index: 999999999999999;
  padding: 10%;
  padding-top: 7%;
}

.section_1getStarted {
  margin-top: 4%;
}

.someQuote {
  margin-top: 10%;
  * {
    padding: 0px !important;
  }

  font-weight: 200;
  letter-spacing: 0px;
  color: #ffffff !important;
  max-width: 530px;
  display: block;

  p {
    color: #ffffff !important;
    line-height: 29px;
    font-size: 24px;
    padding: 16px;
    margin-bottom: 20px;
  }

  span {
    padding: 16px;
    font-weight: bold;
  }
}

.scroll_indicator {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transform: matrix(0, -1, 1, 0, 0, 0) translate(-40px, -90px);
  top: 0;
  z-index: -1;

  span:first-child {
    width: 105px;
    height: 0px;
    border: 1px solid #ffffff;
    opacity: 1;
  }
  span:last-child {
    color: #ffffff;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 100;
    font-size: 16px;
    margin-right: 16px;
  }
}

.toShowOnMobile,
.MobileOnly {
  display: none;
}

@media (max-width: 1024px) {
  .toShowOnMobile {
    display: contents;
  }

  .MobileOnly {
    display: block;
  }

  .middle_menus,
  .toHideonMobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .mainHeader {
    padding-bottom: 7px;
    padding-top: 7px;
  }
  .hideSomeQuote {
    display: none;
  }

  .hero_Text,
  .align_center .hero_Text {
    font-size: 36px !important;
  }

  .pText {
    font-size: 15px;
    line-height: 20px;
    margin-top: 10%;
  }

  .scroll_indicator {
    display: none;
  }

  .section_1getStarted {
    margin-top: 10%;
  }

  .dc_bg {
    padding: 50px;
    font-size: 468px;
    flex-direction: column-reverse;
    height: 100vh;

    span:first-child {
      margin-top: -132%;
      margin-left: -13%;
    }

    span:last-child {
      margin-left: 16%;
    }
  }

  .dc_logo_text {
    display: none;
  }

  .someQuote {
    p {
      line-height: 23px;
      font-size: 18px;
    }

    span {
      font-weight: 400;
    }
  }

  .whoAreSection {
    svg {
      display: none;
    }
    ion-card-content {
      display: none;
    }
  }
}

.section_green_text {
  color: #29928f;
  font-weight: 400;
}

.FeaturedEvents {
  display: flex;

  ion-card {
    max-height: 300px;
    max-width: 280px;
    width: 100%;
    height: 100%;
    --ion-background-color: #fff;
    img {
      max-height: 220px;
      max-width: 280px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    ion-card-title {
      white-space: nowrap;
    }
  }
}

@media (max-width: 1024px) {
  .FeaturedEvents {
    display: none;
  }
}

.whoAreSection {
  p,
  h3 {
    width: 100%;
    max-width: 100%;
  }

  svg {
    max-width: 250px;
    max-height: 300px;
  }
  ion-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    align-items: center;
    margin: auto;
  }

  ion-card {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    max-height: 500px;

    ion-card-title {
      color: #29928f;
    }
  }

  @media (max-width: 800px) {
    ion-card {
      padding: 0px !important;
      width: 190px !important;
      height: 60px !important;
    }
  }
}

.stayWithUs {
  ion-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  ion-button {
    border-radius: 12px;
    height: 100%;
    margin: 16px;
    background-color: #ffffff;
    color: #29928f;

    ion-text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
    }

    ion-icon {
      height: 60px;
      width: 60px;
      font-size: 40px;
    }

    ion-label {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
}

.social_icon_ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  ion-button {
    color: #ffffff;
    background-color: transparent;

    ion-icon {
      height: 25px;
      width: 25px;
    }
  }
}

.linkToApps {
  margin: auto;
  ion-label {
    width: 100%;
    margin-left: 10px;
  }
}

.mainHeader {
  transition: 0.2s ease-in-out;
  ion-icon {
    color: #ffffff;
  }
}

.align_center {
  text-align: center;
  max-width: 100%;

  .pText,
  .hero_Text {
    width: 100% !important;
    text-align: center !important;
    max-width: 100%;
  }

  .hero_Text {
    font-size: 52px;
  }
}
.applyBorder {
  background-color: #000000;
  --ion-background-color: #000000;
  border-bottom: 1px solid #29928f15;
  transition: 0.1s ease-in-out;
}

// apply animation to landing section

.landingSection {
  display: block;

  h1 {
    animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 1s;
    transition: 1s ease-in-out;
  }

  p {
    animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 1.5s;
  }

  ion-buttons {
    animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 2s;
  }
}

.scroll_indicator {
  animation: RevealScrollIndicator cubic-bezier(0.77, 0, 0.175, 1) 2.5s;
}

.mainHeader {
  animation: revealHeader cubic-bezier(0.77, 0, 0.175, 1) 2s;
}

.someQuote {
  animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 2.5s;
}

@keyframes RevealScrollIndicator {
  0% {
    opacity: 0;
    transform: matrix(0, -1, 1, 0, 0, 0) translate(-40px, -130px);
  }
  100% {
    opacity: 100%;
    transform: matrix(0, -1, 1, 0, 0, 0) translate(-40px, -90px);
  }
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes revealHeader {
  0% {
    transform: translate(0, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.FturedEvents {
  ion-item {
    --ion-background-color: initial;
  }
  ion-label {
    h3 {
      font-weight: 500;
    }
  }
}

.more_Button {
  justify-content: flex-end;

  ion-button {
    border-radius: 24px;
    --border-radius: 24px;
    background-color: #29928f;
  }
}

